<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Opening Hours</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
  <style>
    .footer {
      margin: 20px auto;
      padding-top: 20px;
      border-top: 1px solid #eee;
      text-align: center;
    }
  </style>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="page-header">
          <h1>Opening Hours</h1>
        </div>

        <ul class="nav nav-tabs">
          <li role="presentation" class="active"><a href="#">Home</a></li>
          <li role="presentation"><a href="{{ url_for('.form') }}">Form</a></li>
        </ul>


        <ul>
        {% for item in result %}
          {% if result[item]|length > 0 %}
          <li>
            {{ item }}
            <ul>
            {% for t in result[item] %}
              <li>{{ t }}</li>
            {% endfor %}
            </ul>
          </li>
          {% endif %}
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="container">
      Made by <a href="http://patw.me">@patw</a>
    </div>
  </footer>
</body>
</html>
